<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nova AI</title>
    <link rel="stylesheet" href="static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <link rel="stylesheet" href="static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/tooplate-infinite-loop.css" />
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
<div class="tm-next">
    <!-- adding logo -->
    <img src="static/img/logo.png" alt="Logo" class="tm-site-logo img-fluid">
    <a href="#infinite" class="navbar-brand">Nova AI</a>
</div>      
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#infinite">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">What We Do</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Testimonials</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Gallery</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Explore the world of AI</h2>
            <!-- <p class="tm-hero-subtitle">
              Bootstrap 4.0 Parallax Theme
              <br>Free HTML Template by TOOPLATE
            </p> -->
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
                        <p class="mb-4 tm-intro-text">
                          We provide Intelligent and Technological solutions with competetive prices and great quality 
                         </p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-lightbulb text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4"> AI Training</h2>
                        <p class="mb-4 tm-intro-text">
                          We provide AI training for kids, youth, undergraduate students, and post-graduates.</p>
                    </div>
                                                                  <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-code text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Software and Applications</h2>
                        <p class="mb-4 tm-intro-text">
                          We provide Software and Web Application development</p>
                    </div>
                                              <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-brain text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">AI Solutions</h2>
                        <p class="mb-4 tm-intro-text">
                      We provide AI-Solutions for Natural Language processing, Computer Vision, Data Analysis and Customizable Intelligent chatbots for customer service and inqueries.</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Advertisement with AI (Soon)</h2>
                        <p class="mb-4 tm-intro-text">
      We are building a team for Advertisements using AI in order to enter a new world of Advertisement
                        </p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Who we are</h2>
            <p class="mx-auto tm-section-desc text-center">
              "We are a group of experts in AI, software, and education who look forward to building new minds and technologies."
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <img src="static/img/mostafa1.jpg" alt="Image" class="img-fluid mx-auto">
                                    <figcaption>Mostafa Waheed  (CO Founder)</figcaption>
                  <blockquote>Ex Egyptian Air Forces AI Engineer 
                  Great Experience in Software development and AI solutions
                  </blockquote>

                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/H1.jpg" alt="Image" class="img-fluid mx-auto">
                                    <figcaption>Mohamed Hesham(Full Stack)</figcaption>

                  <blockquote>Great experience in Web Development using Angular and Java srping</blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/3bdo1.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Great experience in Web Development using .Net</blockquote>
                  <figcaption>Abdelrahman Samir (Full Stack)</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/DA.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Great experience in Data Analysis and Machine Learning </blockquote>
                  <figcaption>Abdel Aziz Anan  (Data Scientist)</figcaption>
                </figure>
                                <figure class="tm-testimonial-item">
                  <img src="static/img/ziad.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Great experience in Web Development using Angular and Java srping </blockquote>
                  <figcaption>Zeyad Ahmed  (Full Stack)</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
              <p class="mx-auto tm-section-desc">
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="static\img\gallery\1.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\1.jpg" alt="Image 1" class="img-fluid">
                          <figcaption>
                            <h2><i>Smart Solutions  <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\2.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\2.png" alt="Image 2" class="img-fluid" width="1000" height="600">
                          <figcaption>
                                                   <h2><i>All in One   <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\3.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\3.png" alt="Image 3" class="img-fluid">
                          <figcaption>
                              <h2><i>Hospitals  and clinics   <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\4.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\4.png" alt="Image 4" class="img-fluid">
                          <figcaption>
                          <h2><i>Schools     <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\5.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\5.png" alt="Image 5" class="img-fluid">
                          <figcaption>
                            <h2><i>AI Designs <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\6.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\6.png" alt="Image 6" class="img-fluid">
                          <figcaption>
                            <h2><i>AI Designs <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\7.png">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static\img\gallery\7.png" alt="Image 7" class="img-fluid">
                          <figcaption>
                                                    <h2><i>Dental Clinics and Labs <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static\img\gallery\8.jpg">
                        <figure class="effect-honey tm-gallgery-item">
                          <img src="static\img\gallery\8.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    
      <div class="container tm-container-contact">
        
        <div class="row">
            
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact Us</h2>
                <p class="mb-5">
                  We are available 24/7 to reply for your requests and to provide you with all details you need
                </p><br>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <form action="" method="get">
                <input id="name" name="name" type="text" placeholder="Your Name" class="tm-input" required />
                <input id="email" name="email" type="email" placeholder="Your Email" class="tm-input" required />
                <textarea id="message" name="message" rows="8" placeholder="Message" class="tm-input" required></textarea>
                <button type="submit" class="btn tm-btn-submit">Submit</button>
              </form>
            </div>
            
            <div class="col-sm-12 col-md-6">

                <div class="contact-item">
                  <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                      <i class="far fa-2x fa-comment mr-4"></i>
                      <span class="mb-0">Chat Online</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="mailto:mail@company.com" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">mostafawaheed60115@gmail.com</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                      <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                      <span class="mb-0">Our Location</span>
                  </a>              
                </div>
                
                <div class="contact-item">
                  <a rel="nofollow" href="tel:0100200340" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+201062270083</span>
                  </a>              
                </div>
                
                <div class="contact-item">&nbsp;</div>
            
            </div>
            
            
        </div><!-- row ending -->
        
      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2025 <a href="#">Nova AI</a> 
          
          . <a rel="nofollow" href="#" title="HTML templates">Designed by Nova AI Web developers</a></p>
        </footer>

    </section>
    
    <script src="static/js/jquery-1.9.1.min.js"></script>     
    <script src="static/slick/slick.min.js"></script>
    <script src="static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/jquery.singlePageNav.min.js"></script>     
    <script src="static/js/bootstrap.min.js"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>